---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/home/Hero.astro';
import Categories from '../components/home/Categories.astro';
import LatestPosts from '../components/home/LatestPosts.astro';
---

<BaseLayout title="Inicio - Curso de Electricidad">
	
	<Hero />
	
	<Categories />

	<LatestPosts />

    <div class="h-20"></div> 
	
</BaseLayout>